/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  margin: 0;
  padding: 0;
}

.list-container {
  max-width: 1900px;
  margin: 0 auto;
  padding: 20px;
}

.example-header-image {
  background-image: url("./assets/avatar.jpg");
  background-size: cover;
}

mat-card {
  display: block;
  margin: 20px 0;
}
